<ion-header>
  <ion-toolbar color="primary">
    <!--Menu bar-->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <!--Logout icon and function-->
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      About
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <img src="./assets/images/profile.png" height="250"/>
      <ion-card-header>
        <!--For future development this header could greet the user addressing them by name.
        Not to hard to do with the get user data method-->
        <ion-card-title>Welcome to My CV App</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Hello and welcome!<br><br>
          <!--The user greeting could be done here alternatively-->
        My name is Juuso Nousiainen. I am a second year student in Laurea UAS, studying
        Business Information Technology! Even though I'm a second year student, I am 
        planning on graduating during 2020. I'm interested especially about coding 
        and application development!<br><br>
        During my freetime I like to do powerlifting, go fishing, spend time with 
        my family and dog and of course do some coding!<br><br>
        On the following tabs (on the bottom of the app) you can find information 
        about my education, job and contact information. More relevant pages can 
        be found from the menu bar located on the left corner of the app!
        </p>
      </ion-card-content>
    </ion-card>
    
</ion-content>
